
/*======== GENERAL SETTINGS =========*/
body { 
	margin: 10px 0;
	padding: 0 5px;
	color: #666666;
	font-size: 90%;
	font-family: Arial,"Georgia", Times New Roman, Times, serif;
	/*background:#FFFFFF;*/
	/*background:#88aaaa;*/
	/*background: #f5fec9 url(img/body-bg.jpg) repeat-x center top;*/

} 

#wrapper {
	margin: auto;
	padding: 0 0;
	width: 830px;
	/*border: 1px #9aa4a0 solid;*/
	/*background: #fafafa;*/
/*	border-right: 1px #dad8d8 solid;*/

}
#header {
	height: 35px;
	width: 670px;
	padding: 15px 15px 5px 15px;
	background: #FFFFFF;
}
#header p {
	margin: 0;
	font-family: Arial, "Times New Roman", Times, serif;
	font-size: 160%;
	color: #11738e;
	font-weight: bold;
}
/*======== NAVIGATION =========*/
#navi{
	margin: 0 0;
	height: 30px;
	width: 800px;
	padding: 15px 0px 0 30px;
	/*background: #01939A;*/
	/*background: -moz-linear-gradient(top, #01939A, #046c71);*/
	background: -moz-linear-gradient(top, #b4b4b4, #9d9d9d);
	background: -ms-linear-gradient(top, #b4b4b4, #9d9d9d);
	background: -webkit-linear-gradient(top, #b4b4b4, #9d9d9d);
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-topright: 10px;
	-webkit-border-top-left-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	border-bottom: #1ec6f3 10px solid;
}
#navi ul {
	margin: 0;
	padding: 0;
	
	float: left;
	vertical-align: middle;
}
#navi li {
	padding: 17px 8px 20px 8px;
	height: 30px;
	display: inline; 
	list-style: none; 
	font-size: 90%;
	font-weight: bold;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;

}
#navi li a {
	color: #FFFFFF;
	text-decoration: none;
}
#navi li a:hover {
	color: #1a2f47;
	text-decoration: none;

}
#navi li a.logout {
	color: #f30;
	text-decoration: none;
}
#navi li.active {
	/*background: #5d9c9f;*/
	background: -moz-linear-gradient(top, #20cfff, #1ec6f3);
	background: -ms-linear-gradient(top, #20cfff, #1ec6f3);
	background: -webkit-linear-gradient(top, #20cfff, #1ec6f3);
	height: 35px;




}
#navi li.active a {
	color: #FFFFFF;
}
/*======== MAIN CONTENT =========*/
#content {
	width: 830px;
	height: auto;
	padding: 0 0px;
	/*border: 1px #9aa4a0 solid;*/

}

#main {
	margin: 0;
	padding: 30px 10px 0 10px;
	width: 590px;
	float: left;
	text-align: justify;

}
#main div, 
#sidebar div {
	padding: 0;
	margin: 0 0px 20px 5px;
	border: #dad8d8 1px solid;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;

}
#main .lol p {
	padding: 0 5px;	
}


#main h1 {
	margin: 0;
	padding: 2px 5px;
	font-size: 18px;
	color: #11738e;
	background: #e8e7e7;
}
#sidebar h1 {
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	margin: 0;
	padding: 2px 5px;
	font-size: 90%;
	color: #11738e;
	background: #e8e7e7;
}
#main .summary,
#main .list {
	margin: 0;
	padding: 0;
	cursor: default;
	list-style-type: none;
	display: table;
	width: 465px;
	border-collapse: collapse;
	border-spacing: 10px;
}
#main .header {
	margin: 0;
	padding: 0;
	cursor: default;
	list-style-type: none;
	display: table;
	width: 465px;
	border-collapse: collapse;
	/*border-spacing: 10px;*/
}
#main .odd {
	background-color:#eeeded;

}
#main .header li {
	padding: 3px;
	position: relative;
	text-align: center;
	float: left;
	background : #e8e7e7;
	/*border-right: 1px #dad8d8 solid;*/
	font-size: 70%;
	color: #11738e;
	font-family: Arial, tahoma,Verdana;
	font-weight: bold;

}
#main .list li {
	padding: 3px;
	position: relative;
	text-align: center;
	float: left;
	/*border-top: 1px #dad8d8 solid;*/
	/*border-right: 1px #dad8d8 solid;*/	
	font-size: 90%;
}
#main .summary li {
	margin: 0;
	padding: 0;
	text-align: center;
}
#main .summary .heading {
	padding: 10px 0 3px 0;
	border-bottom: 2px #dadada solid;
	
}
#main .summary .title {
	margin-left: 15px;
	text-align: left;
	width: 210px;
}
#main .summary .billing {
	margin-left: 15px;
	text-align: left;
	width: 400px;
}
#main .summary .cost {
	margin-left: 25px;
	width: 300px;	
	text-align: left;
}
#main .summary .number {
	width: 50px;
}
#main .summary .charge {
	width: 90px;
}
#main .summary .code {
	margin-left: 15px;
	width: 50px;
	text-align: left;
	text-decoration: bold;
}
#main .summary .text {
	width: 160px;
	text-align: left;
}

#main .count {
	width: 25px;
	border-left: 1px #dad8d8 solid;

}
#main .date {
	width: 70px;
}
#main .time {
	width: 60px;
}
#main .number {
	width: 85px;
}
#main .rate {
	width: 39px;
}
#main .duration {
	width: 61px;
}
#main .charge {
	width: 75px;
}
#main .charge_t {
	width: 75px;
	border-right: 1px #dad8d8 solid;
}
#main .bill {
	width: 27px;
}
#main ul .grid {
	margin: 0;
	padding: 0;
	cursor: default;
	list-style-type: none;
	display: table;
	width: 465px;
	border-collapse: collapse;
	border-spacing: 0px;
	border-bottom: 1px #b1bcc5 dashed;
}

#main li {
	padding: 3px 0;
	position : relative;
	float: left;
}
/*======== SIDE BAR =========*/
#sidebar {
	margin: 0;
	padding: 30px 10px 0 0;
	width: 210px;
	float: left;
	/*border-left: 1px #dad8d8 dotted;*/

}

#sidebar ul {
	margin: 0;
	padding: 5px 0;
}
#sidebar li {
	padding: 0;
	margin-left: 10px;
	list-style: none; 
	font-size: 90%;
	height: 15px;
}
#sidebar li span {
	margin-left: 60px;
	float: left;
	width: 80px;
	display: inline-block;
}
/*======== FOOTER =========*/
#footer {
	/*margin: 0px 5px;*/
	padding: 1px 10px 2px 0px;
	width: 820px;
	background: #f0f0f0;
	/*border: #eee 1px dashed;*/
	clear: both;
}
#footer a {
	text-decoration: none;
	color: #4d898a;
}
#footer p {
	margin: 0;
	padding-top: 1px;
	font-size: 80%;
	color: #a8b6b5;
	text-align: right;
	font-family: Arial, Georgia, "Times New Roman", Times, serif;
	font-weight: bold;
}

/*======== CONTENT =========*/

#content h3 {
	font-size: 110%;
	border-bottom: 1px #cacaca dotted;
	color: #11738e;
}
#content p label {
	font-weight: bold;
	font-size: 80%;
	color: #333;
	width: 200px;
}
#content p .url {
	font-weight: bold;
	font-size: 80%;
	color: #333;
}
#content p .option {
	margin-left: 15px;
}
#content p .field { 
	padding: 0;
	clear: inherit;
	margin-left: 5px;
	border: 1px dotted #4d898a;
	background: #fcfcfc;
	color: #67707b;
	width: 250px;
} 
#content p .button {
	margin: 20px 0 0 5px;
}
#content li a {
	text-decoration: none;
	color: #7d8691;
}
#content li a:hover {
	text-decoration: none;
	color: #960;
}

#loginbox label {
	margin-left: 125px;
	font-weight: bold;
	font-size: 80%;
	color: #333;
	line-height: 19px;
}
#loginbox p {
	margin: -20px 0 13px 200px;
	line-height: 19px;
}
#register h1 {
	margin: 25px 150px 15px 100px;
	font-size: 90%;	
	border-bottom: 3px #cacaca solid;
}
#register h3 {
	margin: 5px 150px 15px 100px;
	font-size: 90%;	
}
#register div {
	margin: 0 125px 0 75px;
	padding: 20px 0 5px 0;
	background: #f4f4f4;	
}
#register div .submit {
	padding-left: 45px;
}
#register a {
	color: #960;
	font-weight: bold;
	font-size: 80%;
	text-decoration: none;
}
#register p {
	margin: -20px 0 13px 120px;
	line-height: 19px;
} 
#register label {
	margin-left: 25px;
	font-weight:bold;
	font-size: 80%;
	color: #333;
	line-height: 19px;
}
#register p .field { 
	padding: 0;
	clear: inherit;
	margin-left: 20px;
	border: 1px dotted #4d898a;
	background: #fcfcfc;
	color: #67707b;
	width: 250px;
} 
#modify div, #Submit_Ticket div {
	margin: 5px 25px;
	padding: 15px 0 5px 0;
	/*background: #f7f7f7;*/
	border: 1px solid #cfcfcf;
}
#Update_Ticket div {
	width: 300px;
	margin: 5px 25px;
	padding: 15px 0 5px 0;
	/*background: #f7f7f7;*/
	border: 1px solid #cfcfcf;
}

#modify h1, #Submit_Ticket h1 {
	margin: 25px 50px 5px 30px;
	font-size: 90%;	
	border-bottom: 3px #cacaca solid;
	background: none;
}
#modify h3, #Submit_Ticket h3 {
	margin: 5px 150px 15px 100px;
	font-size: 90%;	
}
#modify label, #Submit_Ticket label {
	margin-left: 20px;
	font-weight:bold;
	font-size: 80%;
	color: #333;
	line-height: 19px;
}
#modify p, #Submit_Ticket p {
	margin: -20px 0 13px 95px;
	line-height: 19px;
} 
modify p .field,  { 
	padding: 0;
	clear: inherit;
	margin-left: 20px;
	border: 1px dotted #4d898a;
	background: #fcfcfc;
	color: #67707b;
	width: 250px;
} 




table.Tickets
{
	margin-left: 20px;
	text-align: left;
	width: 500px;
	background-color: #fafafa;
	border: 1px #dad8d8 solid;
	border-collapse: collapse;
	border-spacing: 0px; 
}


td.TableH
{
	text-align: center;
	background-color:#e8e7e7;
	color: #3a738e;
	font-family: tahoma,Verdana;
	font-weight: bold;
	font-size: 12px;
}

td.TableA
{
	background-color:white;
	font-family: tahoma,Verdana;
	font-weight: normal;
	font-size: 12px;
}
 



td.TableB
{
	background-color:#eeeded;
	font-family: tahoma,Verdana;
	font-weight: normal;
	font-size: 12px;
}
